<section class="ds section_padding_70 about-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <article class="post format-small-image with_background">
          <div class="side-item content-padding">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <img src="https://luxarymodels.com/backend/public/images/models/about.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="item-content .about-content">
                  <h2 class="big topmargin_0 bottommargin_30">
                    Nuestro Directorio
                  </h2>
                  <p style="text-align: justify;">En Luxarymodels.com encontrará lo mejor en entretenimiento para adultos en nuestra región. Esta página cuenta con todas las herramientas para que usted pueda hacer su selección de forma rapida donde puede iniciar su encuentro consultando la página desde su computador en su casa u oficina, y concluir su encuentro usando las opciones de navegación de su teléfono celular con acceso a internet.</p>
                  <p style="text-align: justify;">
                    Luxarymodels.com es solamente un portal de publicidad. Ud. contacta a las personas publicadas directamente a sus teléfonos publicados. La página NO solicita a personas para trabajar con clientela exclusiva en moneda nacional o extranjera.
                  </p>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="list1 no-bullets">
                        <li>
                          <i class="highlight rt-icon2-phone5"></i>
                          <span class="grey">Teléfono:</span>
                          +51 988 042 980
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="list1 no-bullets">
                        <li>
                          <i class="highlight rt-icon2-mail"></i>
                          <a href="#">
                            <em> info@luxarymodels.com</em>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="ds parallax contacts section_padding_50">
  <div class="container">
    <div class="row topmargin_10 bottommargin_20">
      <div class="col-sm-4">
        <div class="teaser text-center">
          <div class="teaser_icon black size_normal">
            <i class="rt-icon2-phone5 highlight"></i>
          </div>
          <div class="fontsize_20 thin topmargin_20">
            <span class="grey">Teléfono:</span> +51 988 042 980
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-4 with_border">
        <div class="teaser text-center">
          <div class="teaser_icon black size_normal">
            <i class="rt-icon2-location2 highlight"></i>
          </div>
          <div class="fontsize_20 thin topmargin_20">
            Lima, Perú
            <br> Miraflores, Ovalo de pardo.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="teaser text-center">
          <div class="teaser_icon black size_normal">
            <i class="rt-icon2-mail highlight"></i>
          </div>
          <div class="fontsize_20 thin topmargin_20 darklinks">
            <a href="#">info@luxarymodels.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
